<main class="main">
  <nav>
    <a routerLink="/">Főoldal</a> |
    <a routerLink="/animals">Állatok</a> |
    <a *ngIf="!authService.currentUser" routerLink="/login">Bejelentkezés</a>|
  <a *ngIf="!authService.currentUser" routerLink="/register">Regisztráció</a>|
    <a routerLink="/support">Szupport</a> |
    <a routerLink="/adoption-request">Időpont</a> |
      <a *ngIf="authService.currentUser?.role === 'admin'" routerLink="/admin">Admin felület</a>|
    <a *ngIf="authService.currentUser" routerLink="/profile">Profilom</a>
  </nav>
  
  <router-outlet/>
</main>