<div class="add-animal-page">
      <h2>Új állat hozzáadása</h2>
      <form (ngSubmit)="submitAnimal()">
        <label>
          Név:
          <input type="text" [(ngModel)]="animal.name" name="name" required />
        </label>
        <label>
          Leírás:
          <textarea [(ngModel)]="animal.description" name="description" required></textarea>
        </label>
        <label>
          Kép URL:
          <input type="text" [(ngModel)]="animal.imageUrl" name="imageUrl" required />
        </label>
        <button type="submit">Mentés</button>
      </form>
    </div>