<div *ngIf="animal; else loading" class="animal-detail">
  <h2>{{ animal.name }}</h2>
  <img [src]="animal.imageUrl" [alt]="animal.name" />
  <p><strong>Faj:</strong> {{ animal.species }}</p>
  <p><strong>Fajta:</strong> {{ animal.breed }}</p>
  <p><strong>Kor:</strong> {{ animal.age }} év</p>
  <p><strong>Leírás:</strong> {{ animal.description }}</p>
  <p><strong>Egészségi állapot:</strong> {{ animal.health }}</p>
  <div class="story-section" *ngIf="animal?.story">
  <h3>Élettörténet</h3>
  <p>{{ animal.story }}</p>
</div>

  <button *ngIf="isLoggedIn()" (click)="toggleFavorite()">
    {{ isFavorite ? '💔 Eltávolítás a kedvencekből' : '❤️ Hozzáadás a kedvencekhez' }}
  </button>

  <!-- Admin szerkesztési gomb -->
  <button *ngIf="isAdmin" (click)="editAnimal()">Szerkesztés</button>
</div>

<ng-template #loading>
  <p>Betöltés...</p>
</ng-template>
